.container {
    display: flex;
    min-height: 100vh;
    background: var(--primary-color);
}

.main {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    min-height: 100vh;
    background: var(--primary-color);
    overflow-x: hidden;
    max-width: 100vw;
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
    }
}